#!/bin/bash

#Install Git
{% if ansible_distribution  == "Ubuntu" %}
apt-get install -y git 
{% elif ansible_distribution  == "Centos" %}
yum install -y git
{% endif %}

#Install docker
curl -fsSL https://get.docker.com -o get-docker.sh
sh get-docker.sh

sudo systemctl start docker
sudo systemctl enable docker
sudo usermod -aG docker {{ ansible_user }}

#Install Docker compose
sudo curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
sudo chmod +x /usr/local/bin/docker-compose
